---
layout: layouts/base.njk
title: Home
---
<h1>Welcome</h1>
<p>This is a simple, fast blog inspired by minimalist sites.</p>
<p>Read the <a href="/blog/">blog</a>, learn <a href="/about/">about me</a>, or <a href="/contact/">get in touch</a>.</p>
